<html>
    <head>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.5/cal-heatmap.css" />
    </head>
    <body>
        {% block content %}{% endblock %}

        <script type="text/javascript" src="//cdn.jsdelivr.net/d3js/3.3.3/d3.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.5/cal-heatmap.min.js"></script>
        <script type="text/javascript" src="/bundles/digitalkaozgithubcontributions/js/contributions.js"></script>
    </body>

</html>


