{% extends 'digitalkaozGithubContributionsBundle::layout.html.twig' %}

{% block content %}
    <h3>Github Activity</h3>
    <button id="cal-heatmap-prev"><</button>
    <button id="cal-heatmap-next">></button>

    <script type="text/javascript">
        var github_activity_data = {{ data|json_encode|raw }};
    </script>

    <div id="cal-heatmap" data-min="{{ min }}" data-max="{{ max }}" data-prev="#cal-heatmap-prev" data-next="#cal-heatmap-next" data-data="github_activity_data"></div>
{% endblock %}
