{% extends 'digitalkaozGithubContributionsBundle::layout.html.twig' %}

{% block content %}
    <h3>Github Contributions</h3>
    {% for contribution in contributions %}
        <iframe src="http://lab.lepture.com/github-cards/card.html?user={{ contribution.owner.login }}&repo={{ contribution.name }}&target=blank" frameborder="0" scrolling="0" width="100%" height="250" allowtransparency></iframe>
    {% endfor %}
{% endblock %}
