{% extends 'digitalkaozGithubContributionsBundle::layout.html.twig' %}

{% block content %}
    <h3>User Repositories</h3>
    {% for repo in repos %}
        <iframe src="http://lab.lepture.com/github-cards/card.html?user={{ repo.owner.login }}&repo={{ repo.name }}&target=blank" frameborder="0" scrolling="0" width="100%" height="250" allowtransparency></iframe>
    {% endfor %}
{% endblock %}
